<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Target</th>
            <th scope="col">Recruited</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
        </tr>
    </thead>
    <tbody>
        
        <% for(var i = 0; i < trials.length; i++){ %> 
            <tr>
                <th scope="row"><a href="/dashboard/trial/<%= trials[i].trialId %>"><%=trials[i].title%></a></th>
                <td><%= trials[i].targetCount %> </td>
                <td><%= trials[i].patients.length %></td>
                <td><%- new Date(trials[i].startDate) %></td>
                <td><%- new Date(trials[i].endDate) %></td>
            </tr>
            
        <% } %>  
    </tbody>
</table>