<div class="jumbotron">
    <!-- Survey Graph Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="card card-info-outline">
                <div class="card-header white-background">
                    <h5>
                        Activity Compliance of patient: <%= patientPin %> 
                        <span class="float-right">
                            <form action="/trials/5a946ff566684905df608446/patients/<%= patientPin %>/activity-compliance-detail" method="POST">
                                <input type="date" id="start" name="startDate">
                                <input type="date" id="end" name="endDate">
                                
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-list-alt"></i> View detail</button>
                                
                            </form>
                            
                        </span>
                    </h5>
                </div>
                <div class="card-block white-background">
                    <canvas id="complianceGraph" width="400" height="100px"></canvas>
                </div>
            </div>

        </div>
    </div>
</div>

<% dts = dates%>

<script>
    var ctx = document.getElementById("complianceGraph");
    let formattedDates = <%- dates %>;
    let givenTasks = [<%- givenActivities %>];
    let completedTasks = [<%- completedActivities%>];

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: formattedDates,
            datasets: [{
                label: '# of instances due',
                lineTension: 0, 
                data: givenTasks,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)'
                ],
                borderWidth: 1
            },
            {
                label: '# of instances Completed',
                lineTension: 0, 
                data: completedTasks,
                backgroundColor: [
                    'rgba(100, 255, 50, 0.2)'
                ],
                borderColor: [
                    'rgba(50,200,50,1)'
                ],
                borderWidth: 1
            }         
                    ]
        },
        options: {
            elements: {
                line: {
                    tension: 0
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        stepSize: 1
                    }
                }]
            }
        }
    });
</script>