<div class="jumbotron">
    <div class="row">
        <div class="col-sm-12 col-md-5 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title text-center">
                        <%= trial.title %> 
                    </h4>
                    <table class="table">
                        <tbody>
                            
                            <tr>
                                <th scope="row">
                                    ID
                                </th>
                                <td>
                                    <%= trial.trialId %>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Description
                                </th>
                                <td>
                                    <%= trial.description %>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Start Date
                                </th>
                                <td>
                                    <%- new Date(trial.startDate).toDateString() %>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    End Date
                                </th>
                                <td>
                                    <%- new Date(trial.endDate).toDateString() %>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Patient Count
                                </th>
                                <td>
                                    <%= trial.patients.length %> 
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Noncompliant Count
                                </th>
                                <td>
                                    <%= non_compliant %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-6 col-xl-6">
            <div class="card">
                <canvas id="trialChart" height="100px" width="200"></canvas>
            </div>
        </div>
    </div>
</div>

<table id="patients-table" class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Patient Pin</th>
            <th scope="col">Status</th>
            <th scope="col">Compliance Status</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
        </tr>
    </thead>
    <tbody>
            <% var i = 0 %> 
            <% for(var i = 0; i < patients.length; i++){ %> 
                <tr>
                    <div scope="row">
                        
                        <%# ---------------------------------------------------------------------- %>	
                        <%# TO DO: TRIAL ID HAS BEEN MOCKED HERE. NEED TO CHANGE THIS TO DYNAMIC %>
                        <%# ---------------------------------------------------------------------- %>		

                        <td><a href="/trials/<%= trialId %>/patients/<%= patients[i].patient.pin %>"><%= patients[i].patient.pin %></a></td>
                        <td> <%= patients[i].patient.state %> </td>
                        <td> <%= compliantStatus[i] %> </td>
                        <td><%= (new Date(patients[i].patient.startDate)).toDateString() %></td>
                        <td><%= (new Date(patients[i].patient.endDate)).toDateString() %></td>
                    </div>
                </tr>
                
            <% } %>  
    </tbody>
</table>

<% compliantCount = compliant %>
<% partiallyCompliantCount = partially_compliant %>
<% nonCompliantCount = non_compliant %>

<script>
    var compliCount = <%= compliantCount %>;
    var partiallyCompliCount = <%= partiallyCompliantCount %>;
    var nonCompliCount = <%= nonCompliantCount %>;

    var data = {
        labels: [
            'Compliant',
            'Partially-Compliant',
            'Non-Compliant'
        ],
        datasets: [{
            data: [compliCount, partiallyCompliCount, nonCompliCount],
            backgroundColor: [
                '#2ECC40',
                '#FFDC00',
                '#FF4136'
            ]
        }]
    };
    var ctx = document.getElementById('trialChart').getContext('2d');
    // var columnStart = 3;
    // var columnPin = 0;
    // var patientsTable = $('#patients-table').DataTable({
    //     order: [[columnStart, 'desc'], [columnPin, 'desc']],
    //     paging: true
    // });
    // patientsTable.draw();

    new Chart(ctx, {
        type: 'doughnut',
        data: data,
        animation: {
            animateScale: true
        }
    });
</script>