<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Patient Pin</th>
            <th scope="col">Status</th>
            <th scope="col">Compliance Status</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
        </tr>
    </thead>
    <tbody>
            <% patients.forEach((patientJson) => { %>
                <tr>
                    <div scope="row">
                        <% console.log(patientJson.patient.patientId) %> 
                        
                        <%# ---------------------------------------------------------------------- %>	
                        <%# TO DO: TRIAL ID HAS BEEN MOCKED HERE. NEED TO CHANGE THIS TO DYNAMIC %>
                        <%# ---------------------------------------------------------------------- %>		

                        <td><a href="/trials/5a946ff566684905df608446/patients/<%= patientJson.patient.patientId %>"><%= patientJson.patient.pin %></a></td>
                        <td> <%= patientJson.patient.state %> </td>
                        <td></td>
                        <td><%= (new Date(patientJson.patient.startDate)).toDateString() %></td>
                        <td><%= (new Date(patientJson.patient.endDate)).toDateString() %></td>
                    </div>
                </tr>
            <% }) %>  
    </tbody>
</table>